<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SecretariesServl</servlet-name>
        <servlet-class>Servlets.SecretariesServl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCoursesServl</servlet-name>
        <servlet-class>Servlets.AddCoursesServl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServl</servlet-name>
        <servlet-class>Servlets.AddCourseServl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsServl</servlet-name>
        <servlet-class>Servlets.StudentsServl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsServl2</servlet-name>
        <servlet-class>Servlets.StudentsServl2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorsServl</servlet-name>
        <servlet-class>Servlets.ProfessorsServl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServl</servlet-name>
        <servlet-class>Servlets.LogoutServl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecretariesServl</servlet-name>
        <url-pattern>/SecretariesServl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCoursesServl</servlet-name>
        <url-pattern>/ViewCoursesServl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServl</servlet-name>
        <url-pattern>/AddCourseServl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsServl</servlet-name>
        <url-pattern>/StudentsServl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsServl2</servlet-name>
        <url-pattern>/StudentsServl2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorsServl</servlet-name>
        <url-pattern>/ProfessorsServl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServl</servlet-name>
        <url-pattern>/LogoutServl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
